<!doctype html>
<html>

<body style="font-family:arial, sans-serif">
    <h1 style="background:lightblue;padding:10px">
            Analysis and Charts
    </h1>

    <p>Click to see Analysis or charts on different pages</p>

    <h1><a href="tables">Tables & Summary</a></h1>
    <h1><a href="chart1">M-o-M Consumption Pattern</a></h1>
    <h1><a href="chart2">% Zero reading per Month</a></h1>
    <h1><a href="chart3">Customer wise M-o-M Consumptions</a></h1>
    <h1><a href="text">Consumptions go down or go up 50% compared to previsious  month</a></h1>
    <h1><a href="chart4">Festival effect on M-o-M Consumptions </a></h1>
    <h1><a href="cluster">Clustering of customer based on similar behavior </a></h1>


</body>
</html>